.nested-fields
  .field
    = f.label :ingredient
    %br
    = f.text_field collection_select :ingredient_id, Ingredient.all, :id, :name
  .field
    = f.label :brand
    = f.collection_select :brand_id, Brand.all, :id, :name, selected: 2
  .field
    = f.label :garnish
    %br
    = f.select :garnish, [[true], [false]], selected: false
    .field
    = f.label :volume
    %br
    = f.select :volume, [[true], [false]], selected: false
    .field
    = f.label :weight
    %br
    = f.select :weight, [[true], [false]], selected: false
    .field
    = f.label :count
    %br
    = f.select :count, [[true], [false]], selected: false
    .field
    = f.label :dash
    %br
    = f.select :dash, [[true], [false]], selected: false
  = link_to_remove_association "remove task", f